#newCategory {
  @media(max-width:767px) {
    margin-bottom: $spacer;
  }
}

.category-row {
  &:not(:last-child) {
    border-bottom: .25rem solid white;
  }

  .category-icon {
    padding: 8px;
    height: 56px;
    width: 56px;
  }

  .category-buttons-container {
    @media(min-width:768px) {
      justify-content: flex-end;
    }

    @media(max-width: 767px) {
      justify-content: center;
      padding-right: 0;
    }
  }
}

#category_color {
  option {
    background: white;
    color: black;
  }
}

.icon-input-row {
  justify-content: space-between;

  .category-preview {
    padding: 8px;
    height: 64px;
    width: 64px;
    /* Base CSS taken from Google's image search styling */
    background: #dcdcdc;
    background-image: linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);
    background-position: 0 0,5px 5px;
    background-size: 11px 11px;
  }
}
