#targetsTable {
  td {
    word-break: break-all;
  }

  .positive-indicator,.neutral-indicator, .negative-indicator,
  .edit-target-button, .delete-target-button {
    font-size: 24px;
    padding: 0 8px;
  }

  @media(max-width:767px) {
    .delete-target-button {
      margin-top: .5rem;
    }
  }
}

.popover {
  .form-group {
    min-width: 250px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &:last-child {
      margin: 0;
    }
  }

  .popover-footer {
    padding: 0 14px 8px 14px;
  }
}