#targetsTable {
  td {
    /* Thanks to Michael Scharnagl for this solution
      url: https://justmarkup.com/log/2015/07/dealing-with-long-words-in-css/ */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .indicator, .delete-target-button {
    font-size: 1.5rem;
    padding: 0 .5rem;
  }

  @media(max-width:767px) {
    .delete-target-button {
      margin-top: .5rem;
    }
  }
}

.popover {
  .form-group {
    min-width: 250px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &:last-child {
      margin: 0;
    }
  }

  .popover-footer {
    padding: 0 14px 8px 14px;

    .delete-indicator-button {
      font-size: 1.2rem;
      padding: 0 .43rem;
    }
  }

  #indicator_color {
    option {
      background: white;
      color: black;
    }
  }
}
