html {
  position: relative;
  min-height: 100%;

  @media(max-width:767px) {
    font-size: 13px;
  }

  body {
    margin-bottom: 60px;

    .banner {
      height: 16px;
      width: 100%;
      display: block;
    }

    .navbar {
      #navbarLinks {
        justify-content: flex-end;
      }

      a:not(.dropdown-item) {
        transition: color cubic-bezier(.38,.04,.35,.96) 400ms;
      }

      a:not(#logoutLink):not(:hover):not(:active):not(.dropdown-item) {
        color: black !important;
      }

      a:hover, a:active {
        color: $theme_primary !important;
      }

      @media(min-width:768px) {
        .navbar-brand {
          font-size: 3rem !important;

          .company-logo {
            width: 170px;
          }
        }

        .nav-link {
          font-size: 1.5rem;
          font-weight: 300;
          padding-top: 0;
          padding-bottom: 0;
          padding-right: 0 !important;

          &:not(#selectLocale) {
            padding-left: 1.2rem !important;
          }

          #localesMenu {

          }
        }
      }

      @media(max-width:767px) {
        .navbar-brand {
          font-size: 2rem !important;
          margin: 0;

          .company-logo {
            width: 85px;
          }
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;

      .copyright-heading {
        margin-left: 15px;
        font-weight: 700;
        font-size: .875rem;
      }

      @media(min-width:768px) {
        .copyright-heading {
          float: left;
        }

        .copyright-heading, .copyright-navigation {
          display: inline-block;
        }
      }

      @media(max-width:767px) {
        .copyright-navigation-item {
          display: block;
          margin-left: 15px;
        }
      }

      .copyright-navigation {
        margin-bottom: 0;
      }

      .copyright-heading, .copyright-navigation-item {
        margin-right: 30px !important;
        margin-bottom: 20px;
      }
    }

    a:not(.btn) {
      text-decoration: none !important;
      color: $theme_primary;
      font-weight: 200;
    }

    a:active, a:hover {
      color: black !important;
    }

    a:hover, a:active, a:visited {
      text-decoration: none;
      outline: 0;
    }

    .required:after {
      content: ' *';
    }

    .dropdown-menu {
      &:not(#localesMenu) {
        width: 100%;
      }

      .dropdown-item.active, .dropdown-item:active {
        background: $theme_info;
        color: white !important;
      }

      .dropdown-item.selected {
        background: $theme_success;
        color: white !important;
      }
    }
  }
}