= render 'charts/chart', header: I18n.t('charts.department_chart.header', department: @chart.department.abbreviation || @chart.department.name, chart_name: @chart.name, year: @year), chart: @chart, year: @year, header_for: 'show_department', department: @department

= render 'targets/table', department: @department, year: @year
