.col-md-12.row#categoriesContainer
  - Category.all.each do |category|
    .col-md-12.card.mb-2.px-0{ style: "background: #{category.color}" }
      .card-body
        .row.category-row.d-flex.align-items-center
          .category-header-container.d-flex.align-items-center
            = image_tag category.icon.url, class: 'category-icon', height: 56, width: 56
            %h6.text-white
              = category.name
          .category-buttons-container
            = link_to t(:actions)[:edit], edit_category_path(category.id), class: 'btn btn-warning mr-2', remote: true