.modal-dialog
  .modal-content
    = form_for @category, url: categories_path, method: :post, authenticity_token: true, remote: true do |f|
      = render 'categories/form', category: category, f: f, action: 'new'
