# Copy contents of this file to database.yml and add
# custom usernames and passwords

development:
  username: root
  adapter: mysql2
  encoding: utf8
  database: bosch_tac_development
  pool: 5
  timeout: 5000

test:
  username: root
  adapter: mysql2
  encoding: utf8
  database: bosch_tac_test
  pool: 5
  timeout: 5000

# Configure Production database during deployment setup
# production:
#   <<: *default
#   database: db/production.sqlite3
