# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 5c3a61d604ec5cd16b4c0039a0bf371261e1176210394de83fd101aaa6d2d1e47ae6ffd5e2d203df66bd04e1fd04e4518d6c71e08cdf92577d7503d048968007

test:
  secret_key_base: 09a5eacdf4046b9c344b15fd10ff485f05633f06db300644e7bbf23653eec12bf0f716fc25b7be01b36b650b8403faa74fdb91d2b94bf27195311cd6c2c5fdbc

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.
