= form_for target, url: target_path, method: :put, remote: true do |f|
  #targetErrors
  .form-group
    .input-group
      = f.text_field :unit, class: 'form-control'
      .input-group-append
        = f.button class: 'btn btn-primary' do
          = fa_icon 'check'
