#chartDashboard
  - if plant_chart || dept_charts.any?
    = render 'charts/chart', header: I18n.t('charts.plant_chart_header', chart_name: plant_chart.name, chart_year: year), chart: plant_chart, year: year, show_year_dropdown: true
    - dept_charts.each do |chart|
      = render 'charts/chart', header: I18n.t('charts.department_chart_header', department_abbreviation: chart.department.abbreviation || chart.department.name, chart_name: chart.name, chart_year: year), chart: chart, year: year, show_year_dropdown: false
  - else
    = render 'charts/new_year', year: year
