.row
  .col-md-3.order-md-last
    = render 'charts/year_dropdown', year: year, department: nil
  %h1.col-md-9
    = I18n.t('charts.new_year.header', year: year)
= link_to I18n.t('charts.new_year.start_button', year: year), charts_path, method: :post, class: 'btn btn-lg btn-block btn-outline-success'
